<div class="container col-md-8 col-sm-12 mt-5 mb-5">
  <h1><%= @list.name %></h1>
  <div class="d-flex justify-content-between">
    <%= link_to "Go back", lists_path, class: "btn btn-primary mb-3" %>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary mb-3" %>
  </div>
      <div class="d-flex wrap">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card p-3 mb-3">
          <%= image_tag bookmark.movie.poster_url, class: "poster mb-3" %>
          <h4><%= bookmark.movie.title %></h4>
          <p><em>"<%= bookmark.comment %>"</em></p>
          <p>Rating:<strong class="star"><% bookmark.movie.rating.times do %>
          <i class="fas fa-star"></i>
          <% end %>
          <% (10 - bookmark.movie.rating).times do %>
          <i class="far fa-star"></i>
          <% end %>
          </strong></p>
          <p><%= bookmark.movie.overview %></p>
          <%= link_to 'X', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
      </div>
</div>
